html,
body {
  box-sizing: border-box;
  padding: auto;
  margin: 0;
  height: 100%;
  user-select: none;
  
}
#app{
  height: 100%;

}
/* :root {
  color-scheme: light dark;
} */
html.dark .el-aside .titles{
  background-color: rgb(39, 34, 34) !important;
}

