html,
body {
  box-sizing: border-box;
  padding: auto;
  margin: 0;
  height: 100%;
  user-select: none;
  /* overflow: hidden; */
}
#app{
  height: 100%;

}
/* :root {
  color-scheme: light dark;
} */
html.dark body .el-aside {
  background-color: rgb(18,18,18);
}
html.dark body  .titles{
  
  animation: asideBackground 1.5s ;
  background-color: rgb(18,18,18);
}
html.dark{
  animation: asideBackground 1.5s 
}
/* html.dark svg{
  color: #e84118;
  
} */
/* 去除滚动条 */
/*  */
.btn {
  
  background-color: rgb(239, 122, 122) !important;
  animation: big 0.2s;
}
@keyframes big{
  from{width: 60px; height: 60px;}
  to{width: 68px; height: 68px;}
}
.btns{
  background-color: rgb(239, 122, 122) !important;
  animation: bigs 0.2s;
}
@keyframes bigs{
  from{width: 130px;}
  to{width: 150px;}
}
@keyframes asideBackground {
  from{background:#eeecec ;}
  to{background:rgb(18,18,18)}
}