html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  user-select: none;
  /* overflow: hidden; */
}
#app{
  height: 100%;

}
/* :root {
  color-scheme: light dark;
} */


html.dark{
  animation: Darks 1.5s 
}
html.light{
  animation: lightBackground 1.5s;
}
/* html.dark svg{
  color: #e84118;
  
} */
/* 去除滚动条 */
/*  */
::-webkit-scrollbar {
  width: 0 !important;
}
  
::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}

.btns{
  background-color: rgb(239, 122, 122) !important;
  
}
button:hover{
background-color: rgba(191, 70, 113) !important;
}

@keyframes Darks{
  from{background:#eeecec ;}
  to{background:rgb(18,18,18)}
}
@keyframes asideBackground {
  from{background:#eeecec ;}
  to{background:rgb(67, 63, 63)}
}
@keyframes lightBackground{
  from{background:rgb(18,18,18)}
  to{background:#ffffff ;}
}